@charset "UTF-8";

/*-----GERAL----------*/

cont{
	width: 300px;
	margin: auto;
}
section#corpo figure h6 span {
	opacity: 1;
	color: #ffffff;
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 12pt;
	line-height: 40px;
	padding: 16px 25px;	
	margin-left: -55px;
}

section#corpo figure{
	display: block;
	padding: 200px;
	width: 85px;
	height: 172px;
	box-shadow:0px 0px 8px rgba(0,0,0,.2);
}
section#corpo figure h6{
	font-family: 'Raleway', sans-serif;
	font-size: 14pt;
	margin-top: 100px;	
	margin: -50px;
	color: #696969;
		
}

section#corpo figure p{
	margin-top: 30px;
	margin-left: -190px;
	margin-right: -190px;
	
}


section#corpo figure:hover{
	box-shadow: 1px 2px 5px rgba(0,0,0,.6);
	
}

section#corpo figure img{
	box-shadow: 1px 1px 3px rgba(0,0,0,.4);
	
}
section#corpo figure img h6{
	opacity: 1;
	color: #ffffff;	
	text-shadow: 1px 1px 1px #000000;
	background-color: rgba(0,0,0,.3);
	font-size: 9pt;
	line-height: 50px;
	padding: 0px;	
	
}

section#corpo figure p{
	margin-top: 85px;
	
}

/*-----ESQUERDA----------*/
section#corpo figure.esq1{
	margin-left: 20px;
	margin-top: 70px;
	
}

section#corpo figure.esq1 img{
	margin-top: -320px;
	margin-left: -105px;	
	
}



section#corpo figure.esq2{
	margin-left: 20px;
	margin-top: 90px;
	
}
section#corpo figure.esq2 img{
	margin-top: -310px;
	margin-left: -105px;
	
}


section#corpo figure.esq3{
	margin-left: 20px;
	margin-top: 100px;
	
}
section#corpo figure.esq3 img{
	margin-top: -190px;
	margin-left: -105px;
	
}


/*--------LADO DIREITO-----------*/

section#corpo figure.dir1{
	margin-left: 640px;
	margin-top: -1920px;
	
}

section#corpo figure.dir1 img{
	margin-top: -180px;
	margin-left: -105px;
	
}

section#corpo figure.dir2{
	margin-left: 640px;
	margin-top: 90px;
	
}
section#corpo figure.dir2 img{
	margin-top: -230px;
	margin-left: -105px;
	
}

section#corpo figure.dir3{
	margin-left:640px;
	margin-top: 100px;
	
}
section#corpo figure.dir3 img{
	margin-top: -190px;
	margin-left: -105px;
	width: 300px;
	height: 220px;
	
}

